@page "/Reportes/Details/{ReporteId:int}"
@rendermode InteractiveServer
@inject ReporteService reporteService
@inject NavigationManager navigation
@attribute [Authorize(Roles = "Admin")]
<PageTitle>Detalles del Reporte</PageTitle>

<div class="container mt-5 pt-5">
    <div class="card shadow-lg">
        <!-- Header -->
        <div class="card-header" style="background-color: #FF9F1C; color: white;">
            <h2 style="font-family: 'Poppins', sans-serif;"><strong>Detalles del Reporte</strong></h2>
        </div>

        <!-- Body -->
        <div class="card-body">
            <div class="mb-3">
                <strong>Nombre del item:</strong> @reporte?.Nombre
            </div>
            <div class="mb-3">
                <strong>Descripción:</strong> @reporte?.Descripcion
            </div>
        </div>

        <!-- Footer -->
        <div class="card-footer text-left">
            <button class="btn" style="background-color: #2EC4B6; color: white;" @onclick="Volver">
                <i class="fa-solid fa-backward"></i> Volver
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter] public int ReporteId { get; set; }
    private Reportes? reporte;

    protected override async Task OnInitializedAsync()
    {
        reporte = await reporteService.Buscar(ReporteId);
    }

    private void Volver() => navigation.NavigateTo("/Index/Reporte");
}